@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

body{
    background: url(background.png);
}

h1{
    color: #24242E;
    text-align: center;
    font-size: 80px;
    font-family: 'Caveat Brush', cursive;
    text-shadow: 5px 5px 15PX #FFFFFF;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #24242E;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    
}

.button:hover {
    opacity: 1;
    transform: translateY(-4px);
    box-shadow: 8px 8px 20px 0 rgba(0,0,0,0.8);
}
